@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'),url(./fonts/OpenSans-ExtraBold.ttf) format('truetype');
}
.App {
	background-color: white;
	margin: 10px;
	align-items: center;

}
.AppBanner{
	margin: 20px;
	background-color: #5DBCD2;
  	height: 100%;
  	display: flex;
  	flex-direction: column;
	font-family: OpenSans;
	font-style: normal;
 	font-weight: extr-bold;
	color: #FFFFFF;
	padding: 10px, 10px, 0px, 10px;
 	margin-top: 10px;
 	text-align: center;
    font-size: 50px;
}
.text-muted {
	color: #B2C5D6;
	text-align : right;
	background-color: #5DBCD2;
	/*font-style: italic;*/
	font-size: 2rem;
	padding-right: 20px;
	padding-bottom: 5px;
}
.AppBody{
	background-color: #7EDEB3;
	font-family: 'Yantramanav', sans-serif;;
	font-weight: normal;
	display: flex;
	flex-direction: column;
	height: 100%;
	text-align: center;
	padding-top: 10px;
	font-size: 30px;
	margin-top: 20px;
}
.AppResults{
	display: flex;
	height: 600px;
	padding-inline-end: 20px;
	padding-inline-start: 20px;
	background-color:#FFFFFF;  
	justify-content: center;
}
.Input{
	display: block;
	flex-direction: row;
	flex:1;
	text-align: center;
	justify-content: center;
	width: 50%;
	font-family: sans-serif;
	font-size: 40px;
	padding: 12px 20px;
    margin: 0 auto;
    box-sizing: border-box;
}
.button1 {
  background-color: white; 
  color: black; 
  border: 3px solid #C0C8D0;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 4px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
}

.button1:hover{
  background-color: #2D4A63;
  color: white;
}
.buttonholder{
	text-align: center;
	margin-top: 10px;
}
.question{
	margin: 20px;
	background-color: #5DBCD2;
  	height: 100%;
  	display: flex;
  	flex-direction: column;
	font-family: OpenSans;
	font-style: normal;
 	font-weight: extr-bold;
	color: #FFFFFF;
	padding: 10px, 10px, 0px, 10px;
 	margin-top: 10px;
 	text-align: center;
    font-size: 50px;
}

.distancechoices{
	background-color: white; 
	color: black; 
	border: 3px solid #C0C8D0;
	padding: 16px 32px;
	text-align: center;
	font-size: 16px;
	margin: 2px 4px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	width: 300px;
}
.distancechoices:hover{
    background-color: #2D4A63;
    color: white;
}
.container{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	margin: auto;
	justify-content: flex-around;
	align-content: space-between;
}
.container > button{
	width: 48%;
	height: 100px;
	background:white;
	margin: 1% 1%;
}

#tablee {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tablee td, #tablee th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tablee tr:nth-child(even){background-color: #f2f2f2;}

#tablee tr:hover {background-color: #ddd;}

#tablee th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #6497B1;
  color: white;
}